/* Tambahkan ini di paling atas! */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800&display=swap');

*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root{
  /* Variabel warna sesuai desain Figma LankaStay */
  --biru: #1A4B9F;
  --hijau: #00B074;
  --merah: #ef4444;
  --teks: #374151;
  --teks-light: #6b7280;
  --bg: #F8F9FB;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--teks);
}

/* Biar font logo keren */
.font-playfair {
  font-family: 'Playfair Display', serif;
}